@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	outline: none;
	scroll-behavior: smooth;
	font-family: "Rubik";
}
::-webkit-scrollbar{
	width: 0;
}
.max-width{
	padding: 0px 120px;
}
img{
	width: 100%;
}
body{
	background: #0d0d2b;
}
button,a{cursor: pointer;}



/* === header === */
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 60px;
}
.link-menu ul{
	display: flex;
	align-items: center;
}
.link-menu ul li span{
	display: block;
	width: 1px;
	height: 24px;
	background: #f2f2f2;
	margin-left: 24px;
}
.log{
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	color: #fff;
	background: transparent;
	border: none;
	margin-left: 56px;
}
.reg{
	padding: 14px 32px;
	background: #3671E9;
	border-radius: 32px;
	border: none;
	color: #fff;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	cursor: pointer;
	margin-left: 24px;
}
.link-menu ul li a{
	font-size: 16px;
	line-height: 28px;
	color: #fff;
	margin-left: 32px;
}



/* === sections === */
section{
	min-height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}


/* === about === */
.about{
	background: url('./../image/bg-about.png');
	padding-top: 170px;
	padding-bottom: 140px;
}
.right-slide{
	width: 50%;
}
.img-about{
	max-width: 605px;
}
.left-slide{
	width: 50%;
}
.sale{
	background: rgba(255, 255, 255, 0.1);
	border-radius: 32px;
	height: 40px;
	max-width: 380px;
	display: flex;
	justify-content: start;
	align-items: center;
}
.sale-mess{
	background: #FFFFFF;
	border-radius: 32px;
	font-weight: 500;
	font-size: 16px;
	line-height: 150%;
	padding: 4px 16px;
	margin: 4px;
}
.sale-text{
	color: #fff;
	font-size: 16px;
	line-height: 28px;
	margin-left: 16px;
}
.head h1{
	margin: 24px 0;
	font-weight: bold;
	color: #fff;
	font-size: 64px;
	line-height: 76px;
}
.content p{
	max-width: 450px;
	color: #fff;
	font-size: 16px;
	line-height: 28px;
}
.about-btn{
	margin-top: 32px;
	padding: 19px 24px;
	background: #3671E9;
	border-radius: 32px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 220px;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
}
.about-btn img{
	width: 32px;
	margin-left: 24px;
}

/* === why === */
.why{
	background: url('./../image/bg-whyy.png');
	padding-top: 100px;
	display: block;
}
.cards{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 100px;
}
.card{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.card img{
	width: 80px;
	margin-right: 24px;
}
.card-head{
	font-weight: bold;
	font-size: 40px;
	line-height: 150%;
}
.card-cont{
	font-size: 16px;
	line-height: 28px;
}
.slides{
	color: #fff;
	display: flex;
	justify-content: space-between;
	padding-bottom: 100px;
}
.slides .left-slide{
	max-width: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.slides .right-slide{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.why-link{
	display: block;
	width: 100%;
}
.card-btn{
	width: 145px;
}
.why-slide p{
	margin-top: 24px;
}


/* === check === */
.check{
	flex-direction: column;
	min-height: 0vh;
	padding-top: 100px;
}
.check-head{
	text-align: center;
	font-weight: bold;
	font-size: 40px;
	line-height: 150%;
	color: #fff;
}
.chech-cont{
	margin-top: 24px;
	margin-bottom: 64px;
	font-size: 18px;
	line-height: 150%;
	text-align: center;
	color: #E0E0E0;
	max-width: 600px;
}
.calculate{
	max-width: 950px;
	width: 100%;
	background: #fbfcfe;
	border-radius: 16px 16px 0px 0px;
	position: relative;
	z-index: 10;
}
.calculate form{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 48px;
}
.calculate form select,
.calculate form input::placeholder,
.calculate form input{
	border: none;
	width: 400px;
	padding-bottom: 8px;
	font-size: 20px;
	line-height: 150%;
	color: #0D0D2B;
	border-bottom: 1px solid #E0E0E0;
	background: transparent;
}
.calculate form select{
	width: 200px;
}
.check-btn{
	padding: 16px 32px;
	background: #3671E9;
	border-radius: 32px;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
	border: none;
}


/* === securely === */
.securely{
	min-height: 0vh;
	background: #fafbfe;
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	z-index: 1;
}
.securely .calculate{
	padding: 48px;
	background: #fff;
	box-shadow: 0px 5px 40px #391777;
	border-radius: 0px 0px 16px 16px;
	margin-bottom: 100px;
}
.cal-head{
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #3671E9;
	margin-bottom: 16px;
}
.cal-subhead{
	font-weight: bold;
	font-size: 32px;
	line-height: 150%;
	letter-spacing: 0.04em;
	color: #0D0D2B;
	margin-bottom: 4px;
}
.cal-subhead span{
	color: #3671E9;
}
.cal-text{
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.01em;
	color: #828282;
}
.head{
	font-weight: bold;
	font-size: 40px;
	line-height: 150%;
	text-align: center;
	color: #0D0D2B;
	max-width: 750px;
}